#sginup {
    background-image: url(../../assets/images/auth-bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100vh;

    .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &--card {
            background-color: #ffffff8a;
            padding: 2rem 5.5rem;
            border-radius: 10px;
            box-shadow: 0 5px 5px #354FBD;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            h1 {
                font-size: 2rem;
                color: #354FBD;
            }

            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 15px;

                label{
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 5px;

                    span{
                        color: #354FBD;
                        font-size: 1.2rem;
                    }
                    input {
                        padding: 10px;
                        border-radius: 5px;
                        width: 100%;
                        outline: none;
                        border: none;
                        background-color: #8593F4;
                        color: #ffff;
                        font-size: 1.2rem;
    
    
    
                    }
                }

                button {
                    padding: 10px 20px;
                    border-radius: 5px;
                    background-color: #354FBD;
                    color: #ffff;
                    font-size: 1rem;
                    cursor: pointer;
                    border:none;
                    transition: background-color 0.3s ease-in-out;
                    &:hover {
                        background-color: #2540b7;
                    }
                }


            }
        }
    }

}